#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --background-z: 0;
  --menu-bottom-z: 1;
  --menu-button-image-z: 2;
  --date-z: 2;
  --time-z: 2;
  --menu-button-tooltip-image-z: 5;
  --menu-button-tooltip-text-z: 6;
  --channel-select-background-unselected-z: 0;
  --channel-select-background-selected-z: 7;

  --bottom-bar-height: 27vh;

  --mail-button-bottom: 4.5vh;
  --mail-button-right: 5.8vh;

  --time-digit-height: 9vh;

  --date-font-size: 300%;

  --ib-aspect-ratio: 170/96;
  /*This is for icon*/
  /* --ib-aspect-ratio: 832/456; THIS IS FOR THE BANNER*/

}


@media (max-width: 1100px) {
  :root {
    --bottom-bar-height: 15vh;

    --mail-button-right: 3.1vh;
    --mail-button-bottom: 2.6vh;

    --time-digit-height: 5vh;

    --date-font-size: 210%;
  }
}

@media (max-width: 560px) {
  :root {
    --bottom-bar-height: 13vh;
    --date-font-size: 110%;
  }
}


@media (max-width: 490px) {
  :root {
    --bottom-bar-height: 10vh;

    --mail-button-right: 2.1vh;
    --mail-button-bottom: 1.7vh;

    --time-digit-height: 3vh;

    --date-font-size: 100%;
  }
}

@media (max-width: 410px) {
  :root {
    --bottom-bar-height: 8vh;

    --mail-button-right: 1.7vh;
    --mail-button-bottom: 1.4vh;

    --date-font-size: 75%;
  }
}

.home-screen {
  cursor: url("./assets/cursor/cursor_smaller.png") 39 0, auto;
}