.channels-container {
    position: absolute;
    /* left: -10vw; */ /* Desktop*/
    left: -18vw;
    top: 8vh;  /*Desktop*/
    /* width: 120vw; */ /*Desktop*/
    width: 135vw;
    /* height: 65vh; */ /*desktop*/
    height:80vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
    border: 2px solid red;


}

.channel-grid {
    position: relative;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    
    flex-grow: 2;
   
    align-content: center;
    justify-content: center;
    gap: 0.5vh 0.5vh;
    border: 2px solid green;

}


.channel-column {
    position: relative;
    gap: 0.5vh;
    width: var(--channel-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}