.channels-container {
    position: absolute;
    left: var(--channel-container-left-offset);
    top: 8vh;  /*Desktop*/
    width: var(--channel-container-width);
    height: var(--channel-container-height);
    display: flex;
    justify-content: center;
    overflow: hidden;
    
    /* border: 2px solid red; */
}

.channel-grid {
    position: relative;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    
    flex-grow: 2;
   
    align-content: center;
    justify-content: center;
    /*gap: 0.5vh 0.5vh;*/ /*Desktop*/
    gap: 0.0vh;
    /* border: 2px solid green; */

}


.channel-column {
    position: relative;
    /* gap: 0.5vh; desktop */
    width: var(--channel-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    /* border:2px solid purple; */
    min-width: var(--channel-width);
}