.colon{
    position: absolute;
    top: 10%;
    width: 185%;
    transition: opacity 0.1s ease-in-out;
}

.colon.false{
    opacity: 0;
}

.colon.true{
    opacity: 1;
}

.hour-digit-0{
    position: absolute;
    top: 0%;
    left: -190%;
    width: 185%; 
}

.hour-digit-1{
    position: absolute;
    left: -60%;
    top: -50%;
    width: 185%; 
}

.minute-digit-0{
    position: absolute;
    left: 150%;
    top: 0%;
    width: 185%; 
}

.minute-digit-1{
    position: absolute;
    left: 270%;
    top: 10%;
    width: 185%; 
}

.am-pm{
    position: absolute;
    left: 450%;
    top: 60%;
    width: 155%;
    transform: translateY(80%)
}