/* z index order
-1: Striped background
0: Home bottom
1: Mail button, time and date
2: channel border background
3: channels
4: tooltip background
5: tooltip text
*/

@font-face {
    font-family: 'Rodin';
    src: url('./assets/fonts/Rodin.woff');
}

@font-face {
    font-family: 'Rodin2';
    src: url('./assets/fonts/Rodin.otf');
}

@font-face{
    font-family: 'Segment';
    src: url('./assets/fonts/vertopal.com_DSEG7ClassicMini-Bold.woff') format('woff');
}

@keyframes tooltipFadeInScale{
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100%{
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes tooltipFadeOutScale{
    0% {
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}



.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.home-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    z-index: 0;
}

.mail-button{
    position: absolute;
    top: 75.4%;
    right: 3.8%;
    width: 10%;
    height: 20%;
    box-sizing: border-box;
    z-index: 1; 
    transition: transform 0.125s ease;
}

.mail-button:hover {
    transform: scale(1.08);
}

.mail-tooltip{
    position: absolute;
    z-index: 4;
    top: 68.5%;
    left: 77%;
    opacity: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    animation: tooltipFadeOutScale 0.2s ease-in-out forwards;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    
}

.mail-tooltip.visible{
    opacity: 1;
    animation: tooltipFadeInScale 0.2s ease-in-out forwards;
}

.mail-tooltip-text{
    position: relative;
    font-family: 'Rodin2', sans-serif;
    color: #656865;
    z-index: 5;
    font-size: 200%;
    transition: opacity 0.2s ease-in-out;
}

.mail-tooltip-text.visible{
    opacity: 1;
    animation: tooltipFadeInScale 0.2s ease-in-out forwards;
}

.mail-tooltip-text.hidden{
    opacity: 0;
    animation: tooltipFadeOutScale 0.07s ease-in-out forwards;
}

.mail-tooltip-background{
    position: absolute;
    transform: translate(-400%, 8%);
    top: 5%;
    width: 140%;
    height: 80%;
    object-fit: fill;
    z-index: 3;
    filter: drop-shadow(10px 8px 10px #999899);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.mail-tooltip-background.visible{
    opacity: 1;
    animation: tooltipFadeInScale 0.2s ease-in-out forwards;
}

.mail-tooltip-background.hidden{
    opacity: 0;
    animation: tooltipFadeOutScale 0.07s ease-in-out forwards;
}

.date-text{
    position: absolute;
    font-family: 'Rodin', sans-serif;
    color: #727472;
    top: 105%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    transform: translate(-17%, 0%);
}

.time-container{
    align-items: center;
    position: absolute;
    top: 70.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1;
    font-size: 4.5rem;
}

.time-right{
    font-family: 'Segment', sans-serif;
    color: #8c8d8c;
    font-weight: bold;
    position: abolute;
    transform: translate(10%, 0%);
}

.time-left{
    font-family: 'Segment', sans-serif;
    color: #8c8d8c;
    font-weight: bold;
    position: abslolute;
    transform: translate(-10%, 0%);
}

.colon{
    position: absolute;
    top: -10%; /* Adjusted for slight upward movement */
    left: 30%; /* Keep it horizontally aligned */
    transition: opacity 0.1s ease-in-out; /* Smooth fading */
    color: #8c8d8c;
    
}


.colon.hidden{
    opacity: 0;
}

.colon.visible {
    opacity: 1;
}

.am-pm{
    position: absolute;
    font-family: 'Rodin', sans-serif;
    color: #8c8d8c;
    font-weight: bold;
    font-size: 2.5rem;
    transform: translate(365%, 33%);
}