:root {
    --background-z: 0;
    --menu-bottom-z: 1;
    --menu-button-image-z: 2;
    --date-z: 2;
    --time-z: 2;
    --menu-button-tooltip-image-z: 5;
    --menu-button-tooltip-text-z: 6;
    --channel-select-background-unselected-z: 0;
    --channel-select-background-selected-z: 7;
}

/*Text fonts*/
@font-face {
    font-family: 'Rodin';
    src: url('./assets/fonts/Rodin.woff');
}

@font-face {
    font-family: 'Rodin2';
    src: url('./assets/fonts/Rodin.otf');
}

/*Animation for tooltip fading in*/
@keyframes tooltipFadeInScale{
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100%{
        opacity: 1;
        transform: scale(1.1);
    }
}

/*Animation for tooltip fading out*/
@keyframes tooltipFadeOutScale{
    0% {
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}

/*Animation for background when selecting a channel*/
@keyframes channelSelectZoomIn{
    0%{
        zoom: 100%;
    }
    100%{
        zoom: 200%;
    }
}

/*Animation for background fading to black when channel selected*/
@keyframes channelSelectBackgroundFadeInScale{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.combined-home-screen.menu{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50vw 50vh;
    transform: scale(1); 
    transition: transform 0.21s ease-in-out, transform-origin 0.21s ease-in-out; 
}

.combined-home-screen.selected{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50vw 50vh;
    transform: scale(2.5); 
    transition: transform 0.5s ease-in-out, transform-origin 0.5s ease-in-out; 
}


.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: var(--background-z);
}

.bottom{
    position: absolute;
    top: 0;
    left: 0;

}

.home-bottom{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    z-index: var(--menu-bottom-z);
}

.mail-button{
    position: absolute;
    top: 75.4%;
    right: 3.8%;
    width: 10%;
    height: 20%;
    box-sizing: border-box;
    z-index: var(--menu-button-image-z); 
    transition: transform 0.125s ease;
}

.mail-button:hover {
    transform: scale(1.08);
}

.mail-tooltip{
    position: absolute;
    top: 68.5%;
    left: 77%;
    opacity: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    animation: tooltipFadeOutScale 0.2s ease-in-out forwards;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    z-index: var(--menu-button-tooltip-image-z);
    
}

.mail-tooltip.visible{
    opacity: 1;
    animation: tooltipFadeInScale 0.2s ease-in-out forwards;
}

.mail-tooltip-text{
    position: relative;
    font-family: 'Rodin2', sans-serif;
    color: #656865;
    z-index: var(--menu-button-tooltip-text-z);
    font-size: 200%;
    transition: opacity 0.2s ease-in-out;
}

.mail-tooltip-text.visible{
    opacity: 1;
    animation: tooltipFadeInScale 0.2s ease-in-out forwards;
}

.mail-tooltip-text.hidden{
    opacity: 0;
    animation: tooltipFadeOutScale 0.07s ease-in-out forwards;
}

.mail-tooltip-background{
    position: absolute;
    transform: translate(-400%, 8%);
    top: 5%;
    width: 140%;
    height: 80%;
    object-fit: fill;
    z-index: var(--menu-button-tooltip-image-z);
    filter: drop-shadow(10px 8px 10px #999899);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.mail-tooltip-background.visible{
    opacity: 1;
    animation: tooltipFadeInScale 0.2s ease-in-out forwards;
}

.mail-tooltip-background.hidden{
    opacity: 0;
    animation: tooltipFadeOutScale 0.07s ease-in-out forwards;
}

.date{
    font-family: 'Rodin', sans-serif;
    z-index: var(--date-z);
    color: #727472;
    top: 105%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    transform: translate(20%, 85%);
}

.time-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 75%; 
    left: 40%; 
    z-index: var(--time-z);
    font-size: 4.5rem;
}

.time{
    position: absolute;
    top: -15%;
    width: 20%;
    /* makes gray*/
    filter: invert(40%) sepia(6%) saturate(45%) hue-rotate(71deg) brightness(100%) contrast(92%);
}

.channel-select-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    object-fit: cover;
    opacity: 0;
    z-index: var(--channel-select-background-unselected-z);
}

.channel-select-background.selected{
    animation: channelSelectBackgroundFadeInScale  0.29s ease-in-out forwards;
    z-index: var(--channel-select-background-selected-z);
}