
.colon.false{
    opacity: 0;
}

.colon.true{
    opacity: 1;
}

.time{
    position: absolute;
    display: flex;
    flex-direction: row;

    gap: 0px;

    flex-wrap: nowrap;
    justify-content: center;
    
    top: 0%;
    left: 0%;

    height: 50%;
    width: 100%;
    /* makes gray*/
    filter: invert(40%) sepia(6%) saturate(45%) hue-rotate(71deg) brightness(100%) contrast(92%);
}


.hour-digit-0{
    border: 2px solid rebeccapurple;
    position: relative;
}

.hour-digit-1{
    position: relative;
    margin-left: -2vw;
}

.colon{
    margin-left: -3vw;
    transition: opacity 0.1s ease-in-out;
}

.minute-digit-0{
    margin-left: -3vw;
}


.minute-digit-1{
    margin-left: -2vw;
}

.am-pm{
    position: relative;
    left: 450%;
    top: 60%;
    width: 155%;
    transform: translateY(80%)
}  