/* .time-container {
    position: absolute;
    display: flex;
    border: 2px solid red;
    flex-direction: column;
    width: 20%;
    align-items: center;
    top: 75%;
    left: 40%;

    z-index: var(--time-z);
    font-size: 4.5rem;
} */

.time {
    position: absolute;
    top: 4%;
    left: 50%;
    z-index: var(--time-z);
    transform: translateX(-50%);
    filter: invert(40%) sepia(6%) saturate(45%) hue-rotate(71deg) brightness(100%) contrast(92%);
    display: flex;
    justify-content: center;
    align-items: center;

}


.hour-digit-0 {
    position: relative;
    height: 9vh;
    left: 24%;
}

.hour-digit-1 {
    position: relative;
    height: 9vh;
    left: 18%
}

.colon {
    position: relative;
    left: 9%;
    height: 9vh;
    transition: opacity 0.1s ease-in-out;
}

.colon.false {
    opacity: 0;
}

.colon.true {
    opacity: 1;
}

.minute-digit-0 {
    position: relative;
    height: 9vh;
}

.minute-digit-1 {
    position: relative;
    height: 9vh;
    right: 6%;
}

.am-pm {
    position: relative;
    height: 9vh;
    right: 6%;
}

.date {
    font-family: 'Rodin', sans-serif;
    font-weight: 100;
    z-index: var(--date-z);
    color: #727472;
    top: 105%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    transform: translate(20%, 85%);
}